%ul.proto-sub-list.list-group
  - 2.times do
    = f.fields_for :prototype_images do |sub_image|
      %li.list-group-item.col-md-4.appear_form
        .image-upload.js-preview
          = sub_image.file_field :image
          = sub_image.hidden_field :type, value: :sub
  %li.list-group-item.col-md-4
    .image-upload-plus
      %span +