.container.user-page
  %header.user-nav
    .media
      .media-left
      .media-body
        %h4#top-aligned-media.media-heading
          Top aligned media
          %span.label.label-default.project-number
            29
            %i Projects
        .proto-user
          %span.degree #{@user.member}
        .row
          .col-md-6
            %h4 Profile
            %p #{@user.profile}
          .col-md-6
            %h4 Works
            %p #{@user.works}
.container.proto-list
  .row
    .col-sm-4.col-md-3.proto-content


.text-center
  %ul.pagination
    %li.disabled
