.container
  %form.form-signin
  form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    %h2.form-signin-heading Please sign in
    %label.sr-only{for: "inputEmail"} Email address
    .form-control
    = f.text_field :email, autofocus: "", placeholder: "Email address", required: ""
    %label.sr-only{for: "inputPassword"} Password
    .form-control
    = f.password_field :password, placeholder: "Password", required: ""
    .checkbox
      %label
        %input{type: "checkbox", value: "remember-me"}/
        Remember me
    %button.btn.btn-lg.btn-primary.btn-block{type: "submit"} Sign in
  .text-center
    %p
      Not a member?
      %a{href: "/users/sign_in"} Sign up now

